@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-1-preto: #0D0D0D;
    --cor-2-vermelho-escuro: #260101;
    --cor-3-vermelho-claro: #590E0E;
    --cor-4-claro-1: #F2F2F2;
    --cor-5-claro-2: #8C8C8C;

    --fonte-1-principal: Poppins, Arial;

}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-1-preto);
    height: 5em;
}

.menu >.logo > img {
    max-width: 5em;
    margin: 3em;
}

.nav{
    display: flex;
    gap: 5vw;
    font-family: var(--fonte-1-principal);
    margin: 3em;
}

.links{
    display: flex;
    align-items: center;
    text-align: center;
}

.links > a {
    text-decoration: none;
    color: var(--cor-4-claro-1);
}

.conteiner{
    display: flex;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(https://img.freepik.com/fotos-premium/vetor-de-restaurante-japones_982952-110.jpg?w=996);
    background-position: cover;
}
